{% extends 'base.html' %}
{% block meta_title %} FacebookSpy | Person list {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5 mt-5">Person list</h1>
    <div class="row">
        {% for person in persons %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('person_detail', person_id=person.id) }}">{{ person.full_name }}</a></h5>
                    <p class="card-text"><strong>Facebook ID:</strong> {{ person.facebook_id }}</p>
                    <a class="btn btn-primary" href="{{person.url}}">Facebook account</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
