{% extends 'base.html' %}
{% block meta_title %} FacebookSpy | {{ person.facebook_id }} {% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card text-center">
    <div class="card-header">
      <h3>{{ person.full_name }}</h3>
      <a href="{{ person.url }}" class="btn btn-primary">Facebook account</a>
    </div>
    <div class="card-body">
      <p><strong>Phone Number:</strong> {{ person.phone_number }}</p>
      <p><strong>Email:</strong> {{ person.email }}</p>
      <p><strong>Facebook ID:</strong> {{ person.facebook_id }}</p>
      <p><strong>Number of Friends:</strong> {{ person.number_of_friends }}</p>
      <p><strong>AI Summary:</strong> {{ person.ai_summary }}</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Family Members</h5>
          <ul>
            {% for family_member in person.family_member %}
              <li><a href="{{ family_member.url }}">{{ family_member.full_name }}</a> | {{ family_member.role }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Places</h5>
          <ul>
            {% for place in person.places %}
              <li>{{ place.name }} | {{ place.date }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Work and Education</h5>
          <ul>
            {% for wae in person.work_and_education %}
              <li>{{ wae.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recent Places</h5>
          <ul>
            {% for rp in person.recent_places %}
              <li>{{ rp.localization }} | {{ rp.date }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reels</h5>
          <ul>
            {% for reel in person.reels %}
              <li>{{ reel.url }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Videos</h5>
          <ul>
            {% for video in person.videos %}
              <li>{{ video.url }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Likes</h5>
          <ul>
            {% for like in person.likes %}
              <li>{{ like.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Groups</h5>
          <ul>
            {% for group in person.groups %}
              <li><a href="{{ group.url }}">{{ group.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reviews</h5>
          <ul>
            {% for review in person.reviews %}
              <li>{{ review.company }} | {{ review.review }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
          <ul>
            {% for event in person.events %}
              <li><a href="{{ event.url }}">{{ event.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>


  <p class="d-inline-flex gap-1">
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Friends ({{person.number_of_friends}})
      </a>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#posts" role="button" aria-expanded="false" aria-controls="collapseExample">
          Posts
      </a>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#images" role="button" aria-expanded="false" aria-controls="collapseExample">
          Images
      </a>
  </p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="row">
      {% for friend in person.friends %}
        <div class="col-md-4 mb-3">
          <li><a href="{{ friend.url }}">{{ friend.full_name }}</a></li>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


   <div class="collapse" id="posts">
      <div class="card card-body">
          <ul>
            {% for post in person.posts %}
              <li>{{ post.url }}</li>
              <li>{{ post.content }}</li>
              <li>{{ post.number_of_likes }}</li>
              <li>{{ post.number_of_shares }}</li>
              <li>{{ post.number_of_comments }}</li>
              <li>{{ post.classification }}</li>
              <li>{{ post.score }}</li>
            {% endfor %}
          </ul>
      </div>
  </div>

<div class="collapse" id="images">
  <div class="card card-body">
    <ul class="list-unstyled text-center">
      {% for image in person.images %}
        <li>
          <img src="{{ url_for('images', path=image.path) }}" alt="{{ image.path }}" class="img-fluid">
        </li>
      {% endfor %}
    </ul>
  </div>
</div>



</div>


{% endblock %}
