.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin-bottom: 10px;
  color: #555;
  transition: background-color 0.3s ease-in-out;
}

.card li:hover {
  background-color: #78cbd8;
}

.card strong {
  font-weight: bold;
}

.reviews-card {
  border-color: #4caf50;
}

.work-and-education-card {
  border-color: #2196f3;
}

.family-member-card {
  border-color: #fbff00;
}

.places-card {
  border-color: #a41f1f;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
  gap: 20px;
}
