<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a style="color: white;" class="navbar-brand" href="/">Facebook Spy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

      </ul>
    </div>
  </div>
</nav>