.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
  }
  
  .person-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .person-card {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.33% - 16px); 
    max-width: calc(33.33% - 16px);
    box-sizing: border-box;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .person-card:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
  }
  
  .person-card a {
    text-decoration: none;
    color: #333;
  }
  
  .person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .facebook-id {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .full-name {
    font-size: 16px;
  }
  
  

.person-card:hover {
    background-color: #e0e0e0; 
    transform: translateY(-2px);
    transition: background-color 0.2s, transform 0.2s;
  }

.loading {
  font-size: 20px;
  margin-top: 20px;
}

.search-form {
  margin: 10px 0;
}

.search-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
